.nume-checkout-btn {
    display: flex;
    align-items: center;
    padding: 10px 24px;
    justify-content: center;
    width: 205px;
    height: 44px;
    background: #5155D4;
    border-radius: 8px;
    border: none;
    gap: 4px;
    cursor: pointer
}

.nume-checkout-btn-txt-main {
    color: #fff;
    font-size: 14px;
    font-weight: 700
}

.nume-checkout-logo {
    width: 24px;
    height: 24px
}

.nume-checkout-btn-txt-side {
    color: #fff;
    font-size: 14px;
}

.nume-checkout-helper-txt {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
    margin-top: 4px;
    font-size: 12px;
    justify-content: center;
    width: 205px
}

.nume-checkout-helper-icon {
    width: 14px;
    height: 14px;
    cursor: pointer
}

.nume-checkout-learn-more {
    color: #5155D4;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.nume-checkout-popover {
    width: 278px;
    display: none;
    border: 1px solid #5155D4;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    position: absolute;
    top: 70px;
    left: -57px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 14px;
}

.nume-popover-arrow {
    height: 12px;
    width: 12px;
    background-color: #fff;
    position: absolute;
    right: 56px;
    top: 0px;
    border-left: 1px solid #5155D4;
    border-top: 1px solid #5155D4;
    transform: translate(-50%, -50%) rotate(45deg);
}